# Dependencies
node_modules

# Build output
dist
dist-ssr

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Environment Variables (SANGAT PENTING!)
.env
.env.*
!.env.example

# IDE/Editor directories
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vite cache
.vite/

# Optional: Mac/OS files
.DS_Store